body{font family:arial; background-color:#f2f2f2; margin:0;}

header{background-color:#5C0C36; color:white; text-align:center; padding:15px;}

.content{background-color:white; margin:20px; padding:15px; border-radius:5px;}

h2{color:#5C0C36;}


.container{display:flex;flex-wrap:wrap;justify-content:center;gap:20px;padding:20px;}
.card{background-color:orange;width:250px;padding:10px;border-radius:10px;text-align:center;box-shadow:0 0 10px #000;}
.btn{background-color:green;color:black;padding:8px;border-radius:5px;cursor:pointer;}


footer{background-color:#5C0C36; color:white; text-align:center; padding:15px;}